@import (css) 'normalize.css';

// mixins
.transition(@prop, @time) {
  -webkit-transition: @prop @time;
  -moz-transition: @prop @time;
  -ms-transition: @prop @time;
  -o-transition: @prop @time;
  transition: @prop @time;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #111;
  .transition(all, 0.3s);
}

a {
  color: #111;
  text-decoration: none;
}

.content-row {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

// override styles when body class change
body {
  &.page-image {
    background: #111;

    #header {
      top: -55px;
    }

    #footer {
      bottom: -35px;
    }
  }

  &.page-home {
    #loading {
      display: none !important;
    }
  }
}

// header
#header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 10;
  line-height: 60px;
  vertical-align: middle;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  .transition(all, 0.5s);

  .ver {
    font-size: 12px;
    color: #ccc;
  }

  .content-row {
    position: relative;
  }

  #search-header {
    float: right;
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;

    .search-holder {
      font-size: 18px;
    }

    input[type="search"] {
      color: #ddd;
      font-size: 12px;
      height: 25px;
      border: none;
      border-bottom: 1px solid #111;
      width: 100px;
      vertical-align: top;
      margin-right: 15px;
      margin-top: 17px;
      .transition(all, 0.3s);

      &:focus {
        width: 150px;
        outline: none;
        color: #111;
      }
    }

    i {
      cursor: pointer;
    }
  }
}

#logo {
  font-size: 26px;
  font-weight: 700;

  span {
    color: #ddd;
  }
}

// footer
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
  line-height: 40px;
  vertical-align: middle;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  background: #fff;
  .transition(all, 0.5s);
}

// home section
#home-search {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .search-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -250px;
    width: 500px;
    height: 80px;
    background: rgba(17, 17, 17, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  }

  input[type="search"] {

    height: 68px;
    width: 308px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #fff;
    background: #fff;
    color: #111;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    float: left;

    &.error {
      &::-webkit-input-placeholder {
        color: #e54545;
      }
      &:-moz-placeholder {
        color: #e54545;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: #e54545;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #e54545;
      }
    }

    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    width: 150px;
    height: 70px;
    margin-top: 5px;
    display: block;
    float: left;
    border: none;
    font-family: Lato, sans-serif;
    color: #fff;
    background: transparent;
    .transition(all, 0.2s);

    &:hover {
      background: #ddd;
      color: #111;
    }

    &:focus {
      outline: none;
    }
  }
}

// loading
#loading {
  position: fixed;
  left: 50%;
  bottom: 100px;
  margin-left: -50px;
  z-index: 10;
  display: none;
  width: 100px;
  height: 100px;
  background: #fff url(../images/loading.gif) no-repeat center;
}

// image details
#image-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#image-content {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;

  .image {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 50px;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .close {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }

  .details {
    position: absolute;
    z-index: 5;
    background: rgba(17, 17, 17, 0.5);
    left: 50px;
    bottom: 50px;
    right: 50px;
    text-align: left;
    color: #fff;
    padding: 20px;
    .transition(all, 0.3s);
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }

    a {
      color: #fff;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 10px;
        font-size: 14px;
        word-wrap: break-word;
        text-overflow: ellipsis;

        i {
          margin-right: 5px;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

// image results
#image-results {
  padding: 60px 0 40px;
  overflow: hidden;
}

#results {
  display: none;

  .info {
    text-align: center;
    padding: 35px 20px;
    font-size: 20px;
    position: fixed;
    top: 50%;
    width: 100%;
    margin-top: -110px;

    b {
      font-size: 40px;
    }
  }

  .gallery-item {
    width: 20%;
    padding: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    overflow: hidden;
    height: 400px;
    float: left;
    position: relative;

    a {
      display: block;
      width: 100%;
      height: 400px;
      overflow: hidden;
    }

    .image-as-bg {
      width: 100%;
      height: 400px;
      position: relative;
      z-index: 2;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: transparent;

      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter âŚ.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -webkit-backface-visibility: hidden;

      .transition(all, 0.5s);

      &.loading {
        background: #ddd url(../images/imgload.gif) no-repeat center;
        background-size: auto;
      }
    }

    .label {
      position: absolute;
      bottom: 0;
      opacity: 0;
      min-height: 50px;
      vertical-align: middle;
      background: rgba(17, 17, 17, 0.6);
      color: #fff;
      font-size: 12px;
      padding: 10px 15px;
      width: 100%;
      .transition(all, 0.5s);
      z-index: 6;

      .name {
        display: block;
        word-wrap: break-word;
        text-overflow: ellipsis;
      }

      .author {
        display: block;
      }
    }

    &:hover {
      .image-as-bg {
        filter: none;
        -webkit-filter: none;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      .label {
        opacity: 1;
      }
    }
  }
}

// media queries!

@media screen and (max-width: 1199px) {
  #results {
    .gallery-item {
      width: 25%;
    }
  }
}

@media screen and (max-width: 1000px) {
  #results {
    .gallery-item {
      width: 33.3333333333333333333%;
      height: 370px;

      .label {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #image-details {
    overflow-y: auto;
  }

  #results {
    .gallery-item {
      .image-as-bg {
        filter: none !important;
        -webkit-filter: none !important;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
      }
    }
  }

  #image-content {
    .close {
      top: 30px;
      right: 30px;
    }

    .image {
      margin-top: 50px;
      padding: 30px;
      display: block;
    }

    .details {
      opacity: 1 !important;
      padding: 0 30px 30px;
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  #results {
    .gallery-item {
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px) {
  #results {
    .gallery-item {
      width: 50%;
      height: 300px;
    }
  }

  #header {
    height: 40px;
    line-height: 40px;

    #search-header {
      input[type="search"] {
        margin-top: 5px;
      }
    }
  }

  #home-search {
    .search-holder {
      margin-left: -210px;
      width: 420px;
    }

    input[type="search"] {
      width: 228px;
    }
  }

  #logo {
    font-size: 17px;
  }

  #image-results {
    padding: 40px 0 25px;
  }

  #footer {
    height: 25px;
    line-height: 25px;
  }
}

@media screen and (max-width: 479px) {

  body.page-image  {
    #header {
      top: -80px;
    }
  }

  body.page-home {
    #logo {
      font-size: 21px;
      margin-top: 20px;
    }
  }

  #logo {
    display: inline-block;
    .transition(all, 0.5s);
  }

  #header {
    text-align: center;
    height: 80px;

    .content-row {
      max-width: 365px;
    }

    #search-header {
      position: relative;
      display: inline-block;
      top: -5px;
      left: 0;
      float: none;
      height: auto;
    }
  }

  #home-search {
    .search-holder {
      left: 0;
      right: 0;
      margin: 0;
      width: 100%;
      height: 125px;
      margin-top: -40px;
      padding: 5px;
    }

    input[type="search"] {
      width: 100%;
      margin: 0;
      height: 55px;
      border: 0;
      box-sizing: border-box;
    }

    input[type="submit"] {
      width: 100%;
      height: 55px;
    }
  }

  #image-content {
    .image {
      height: auto !important;
    }
  }

  #results {
    .gallery-item {
      width: 100%;
      height: 350px;
    }
  }
}