<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>SeeTheWiki</title>
</head>
<body>

<header id="header">
    <div class="content-row">
        <a id="logo" href="./#/home"><i class="fa fa-eye"></i> SeeTheWiki<span>Project</span></a> <span
            class="ver">v1.0</span>

        <div id="search-header">
            <form method="post" id="search-media-header" action="">
                <div class="search-holder">
                    <input type="search" id="search-query-header" value="">
                    <i class="fa fa-search" id="search-header-begin"></i>
                </div>
            </form>
        </div>
    </div>
</header>

<section id="home-search">
    <form method="post" id="search-media" action="">
        <div class="search-holder">
            <input type="search" name="query" id="search-query" placeholder="what do you want to see?">
            <input type="submit" value="Begin search!" id="search-begin">
        </div>
    </form>
</section>

<section id="image-results">
    <div id="results"></div>
</section>

<section id="image-details">

</section>

<footer id="footer">
    <div class="content-row">
        <p>&copy; Copyrights 2014, Kamil Biedrzycki</p>
    </div>
</footer>

<div id="loading"></div>

<script id="gallery_image" type="text/html">
    <div class="gallery-item">
        <a href="./#/image/{{ image_id }}/{{ image_name }}">
            <div class="image-as-bg lazy loading" data-original="{{ image_thumburl }}"></div>
        </a>

        <div class="label">
            <span class="name"><b>Name:</b> {{ image_name }}</span>
            <span class="author"><b>By user:</b> {{ image_user }}</span>
        </div>
    </div>
</script>

<script id="image_full" type="text/html">
    <div id="image-content">
        <div class="image">
            <img src="{{ image_url }}">
        </div>
        <div class="details">
            <ul>
                <li><i class="fa fa-tag"></i> <b>Image name:</b> {{ image_name }}</li>
                <li><i class="fa fa fa-file-image-o"></i> <b>Image mime type:</b> {{ image_mime }}</li>
                <li><i class="fa fa fa-arrows"></i> <b>Dimensions:</b> {{ image_width }}x{{ image_height }}</li>
                <li><i class="fa fa-user"></i> <b>Uploaded by user:</b> {{ image_user }}</li>
                <li><i class="fa fa-link"></i> <a href="{{ image_wiki_url }}" target="_blank"><b>See on wikimedia commons page</b></a></li>
            </ul>
        </div>
        <a class="close"><i class="fa fa-close"></i></a>
    </div>
</script>

<script id="nothing_found" type="text/html">
    <div class="info"><b>Sorry!</b><br>Nothing found for your query..</div>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        var script = document.createElement('script');
        script.type = "text/javascript";
        script.src = "js/vendor/jquery-1.11.1.min.js";
        document.body.appendChild(script);
    }
</script>
<script src="js/vendor/signals.min.js"></script>
<script src="js/vendor/hasher.min.js"></script>
<script src="js/vendor/crossroads.min.js"></script>
<script src="js/vendor/ICanHaz.min.js"></script>
<script src="js/vendor/jquery.lazyload.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>